@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}

html,
body {
  overflow: hidden;
}

input,
button {
  outline: none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #545d68;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #545d68;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #545d68;
}

:root {
  color-scheme: dark;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  outline: none;
}

.tooltip {
  @apply before:bg-[#373e47] before:text-xs after:bg-[#373e47];
}
